---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    {%- if site.posts.size > 0 -%}
    <section class="card-list">
        <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
        <ul class="post-list">
            {%- for post in site.posts -%}
            {%- if post.categories contains "Blog" -%}
            <article class="card">
                <header class="card-header">
                    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    <p>{{ post.date | date: date_format }}</p>
                    <h2>
                        <a class="post-link" href="{{ post.url | relative_url }}">
                            {{ post.title | escape }}
                        </a>
                    </h2>
                </header>
                <div class="card-author">
                    {%- if site.show_excerpts -%}
                    {{ post.excerpt }}
                    {%- endif -%}
                </div>
            </article>
            {%- endif -%}
            {%- endfor -%}
        </ul>
    </section>
    {%- endif -%}
</div>
