---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}



    {%- if site.posts.size > 0 -%}
    <section class="card-list">
        {%- for post in site.posts -%}
        {%- if post.categories contains "Blog" -%}
        <a class="card blog-card" href="{{ post.url | relative_url }}">
            <header class="card-header">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                <p>{{ post.date | date: date_format }}</p>
                <h2 >
                    {{ post.title | escape }}
                </h2>
            </header>
            <div class="excerpt">
                {%- if site.show_excerpts -%}
                <p>{{ post.excerpt }}<p>
                {%- endif -%}
                {%- if post.image -%}
                <img src="{{ post.image | relative_url }}" />
                {%- else -%}
                <img src="https://picsum.photos/300?random={{ post.title }}}">
                {%- endif -%}
            </div>
        </a>
        {%- endif -%}
        {%- endfor -%}
    </section>
    {%- endif -%}
</div>
